body{
    text-align: center;
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    color: #66BFBF;
}
p{
    color: #40514E;

}
hr{
    dispaly:none;
    border-style: dotted;
    border-bottom: 0;
    width: 9px;
    border-color: #40514E;
}
#back{
    background-image: url(images.jpg/download.jfif);
background-repeat: no-repeat;
background-size: cover;}
span{
    text-decoration: underline;
}
.footer_div{
    
    margin:90px;
    background-color: #66BFBF;  
}
a{
    color: #40514E;
    padding: 120px;
    margin:30px;
    text-decoration: none;
}
a:hover{
    color:#834b0b;

}
.copyright{
    color: #EAF6F6;

}
#code_pic{
    float:left;
    margin: 0%;
    padding: 0%;
}
#chilli_pic{
float: right;
}

p{
    margin: auto;
    line-height: 3rem;
    width:25%
    
}
.btn{
background-color: #66BFBF;
}
